In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
df=pd.read_excel("F:/Languages/python/Digipodium/Data Sets/Canada.xlsx",header=0,skiprows=20,skipfooter=2)
#sheet_name=1 to select the required sheet from excel if there are multiple sheets in given excel file
#skiprows=skip the number of rows given
#skipfooter=skip the number of rows given from the last
df

In [5]:
#set pandas to display all columns(optional)
pd.set_option('display.max_columns',None)

In [ ]:
df

In [ ]:
df.head() #first 5 rows

In [ ]:
df.tail() #last five rows

check for null values

In [ ]:
df.isnull().sum()

Data in DataFrame can be of
- Numeric Type
- Categorical Type(Repeating values either numeric or string)
- Text Type (Non-Repeating values) // Unique values only
- Data Type
- Boolean Type

Data Types in DataFrame

`int,float,object,bool,datetime64,timedelta64`

In [ ]:
df.info()  #info is used to give the data type of data present in the dataset

In [ ]:
df.iloc[100:200] #rows 100 to 200

In [ ]:
df.sample(10) #random 10 rows

Seperating data

In [ ]:
df.select_dtypes(include='number')  #it is used to show the data based on there particular DataType

In [ ]:
df.select_dtypes(include='object')

In [ ]:
df.select_dtypes(include='object').nunique()  #nunique is used to give the number of unique data present in columns

In [ ]:
for col in df.select_dtypes(include='object'):
  print(f"{col} : {df[col].unique()}")   #unique is used to give a list of all the unique data

In [ ]:
df['Coverage'].value_counts()   #it is used to count the value that is repeated in a particular column

Dropping some unwanted columns

In [18]:
cols_to_drop =["Type",'AREA','REG','DEV','Coverage']
df=df.drop(columns=cols_to_drop)

In [ ]:
df

Rename the column

In [20]:
df=df.rename(columns={'OdName':'Country','AreaName':'Continent','RegName':'Region','DevName':'Status'})

Sorting Data

In [ ]:
df.sort_values(by=2013,ascending=False)  #ascending=False is used to sort the value in descending order
                                         #and if we pass nothing it is in ascending

In [ ]:
df.sort_values(by='Continent')

Add Columns

In [ ]:
years=range(1980,2014)
df[years].sum(axis=1)  #add data column waise if not given add data row wise

In [ ]:
df['total']=df[years].sum(axis=1)  #add a new column
df

Replacing Values

In [ ]:
df['Status']=df['Status'].replace('Developing regions',False)
df['Status']=df['Status'].replace('Developed regions',True)
df=df.rename(columns={'Status':'Developed'})
df

Saving the processed data

In [ ]:
df.to_csv('/content/canada_clean.csv',index=False)

# EDA(Exploratory Data Analysis) + Visualization

In [ ]:
df['Developed'].value_counts()   #this is analysis

In [ ]:
df['Developed'].value_counts().plot(kind='pie',autopct='%.2f%%')

In [ ]:
sns.countplot(data=df,x='Developed')

In [ ]:
df['Developed'].value_counts().plot(kind='bar',backend='plotly')

In [ ]:
df.sort_values(by='total',ascending=False).head(10)[['Country','total']]

Creating a Subset

In [58]:
top10=df.sort_values(by='total',ascending=False).head(10)[['Country','total']].copy()

In [ ]:
top10

- Task 1:Change the United Kingdom to UK in the country column
- Task 2:Change Iran(Islamic Republic of) to Iran in the counrty column
- Task 3:Create a bar chart for this

In [ ]:
top10=top10.replace('United Kingdom of Great Britain and Northern Ireland','UK')
top10=top10.replace('Iran(Islamic Republic of)','Iran')
top10=top10.replace('United States of America','USA')
top10

In [ ]:
sns.barplot(data=top10,hue='Country',x='total',y='Country',palette='rainbow',legend=False,orient='h')