In [1]:
x=[1,2,3,4]
x2=[]
for i in x:
  s=i**2
  x2.append(s)
print(x2)

[1, 4, 9, 16]

# List Comprehension
- Syntax
- newlist=[operation loop]

In [2]:
x2=[i+10 for i in x]
print(x2)

[11, 12, 13, 14]

### Comprehension with condition
- Syntax
- newlist=[operation loop condition]

In [3]:
x=[1,3,6,7,10,11,20,2]
x2=[i**2 for i in x if i%2==0]
print(x2)

[36, 100, 400, 4]

In [4]:
names=['satwik','manas','shiv','naman','arpit','ritesh','paras','faheem','ammar','esha','sachin','shailja','savri']
x=[]
for i in names:
  s=i[0]+i[-1]
  x.append(s)
print(x)

['sk', 'ms', 'sv', 'nn', 'at', 'rh', 'ps', 'fm', 'ar', 'ea', 'sn', 'sa', 'si']

In [5]:
x2=[i[0]+i[-1] for i in names]
print(x2)

['sk', 'ms', 'sv', 'nn', 'at', 'rh', 'ps', 'fm', 'ar', 'ea', 'sn', 'sa', 'si']