# Data Structure-Tuple
- indexed
- ordered
- immutable
- hetrogenous
- duplicate allowed
- represented by ()
- tuple() for creating tuple

In [1]:
a=(1,2,3,4)
b=(1,)
c=('a','b','c','d')
d=1,2,3,4,5,6    #packing
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [2]:
#traversing a tuple
for i in a:
  print(i)

1
2
3
4

In [5]:
#indexing
print(a[0])
print(a[-1])
print(a[2])

1
4
3

In [6]:
#slicing
print(a[1:3])
print(a[::-1])

(2, 3)
(4, 3, 2, 1)

### Methods in Tuple
- index()
- count()

In [7]:
a=1,1,1,1,1,1,1,1,2,2,2,13,11,34
print(a.count(1))
print(a.count(2))
print(a.index(2))
print(a.index(13))
print(a.index(1))

8
3
8
11
0

Tuple Unpacking

In [8]:
x=(1,2,3,4)
a,b,c,d=x
print(a,b,c,d)
i,*j=x
print(i,j)
*i,j=x
print(i,j)
x=(1,2)
i,j,*k=x
print(i,j,k)

1 2 3 4
1 [2, 3, 4]
[1, 2, 3] 4
1 2 []

In [9]:
x=(1,2,3,4)
x2=(i*2 for i in x)
print(tuple(x2))

(2, 4, 6, 8)