# Data Structure - Dictionary
- ordered
- mutable
- key-value pairs(unindexed)
- keys are unique
- values can be any data type
- keys should be immutable('int','float','string','tuple')
- keys are sensitive
- represented with {}
- dict() is used to make dicitonary

In [2]:
a={} #empty dicitonary
b={'apples':50,"oranges":25}
c=dict(almond=200,cashew=100)
print(a,b,c)

{} {'apples': 50, 'oranges': 25} {'almond': 200, 'cashew': 100}

In [3]:
d={'k1':
   {
       'k11':5,
       'k12':10
   },
   'k2':
   {
       'k21':15,
       'k22':20
   }
   }
print(d)

{'k1': {'k11': 5, 'k12': 10}, 'k2': {'k21': 15, 'k22': 20}}

In [5]:
print(b['apples'])
#print(b['apple]) #this will throw an error
print(b.get('apple'))
print(b.get('apple','not found'))  #default values
print(b.get('apples'))
print(b.get('apples','not found'))

50
None
not found
50
50

In [6]:
#Add/Update
b['mango']=10 #add
b['dates']=5 #add
b['peaches']=10 #add
b['apples']=50 #update(existing key is used)
print(b)

{'apples': 50, 'oranges': 25, 'mango': 10, 'dates': 5, 'peaches': 10}

In [7]:
#Remove
b.pop('mango')
print(b)

{'apples': 50, 'oranges': 25, 'dates': 5, 'peaches': 10}

In [8]:
#Traversal
print("Style 1")
for key in b:
  print(key,b[key])

print("Style 2")
for k,v in b.items():
  print(k,v)

print("Style 3")
for v in b.values():
  print(v)

print(b.values())
print(b.keys())

Style 1
apples 50
oranges 25
dates 5
peaches 10
Style 2
apples 50
oranges 25
dates 5
peaches 10
Style 3
50
25
5
10
dict_values([50, 25, 5, 10])
dict_keys(['apples', 'oranges', 'dates', 'peaches'])