# Data Structure - Set
- unorderd
- unindexed
- mutable
- mixed immutable elements
- unique elements
- iterable
- represented by curly braces {}
- set() for creating set
- empty set is created by set()

In [3]:
x=set()
print(x,type(x))
y={1,2,3}
z={'a','b','c','d'}
print(y)
print(z)
a=set([1,2,3,4,5])
print(a)
b={'a',1,'b',2,'c',3}
print(b)
c={1,2,3,1,2,3,1,2,3}
print(c)

set() <class 'set'>
{1, 2, 3}
{'a', 'd', 'b', 'c'}
{1, 2, 3, 4, 5}
{'a', 1, 2, 3, 'c', 'b'}
{1, 2, 3}

In [4]:
# traversing of set
for i in b:
  print(i)

a
1
2
3
c
b

In [5]:
books=set()
books.add("Legion")
books.add("Snapshot")
books.add("SteelHeart")
books.add("FireFighter")
print(books)

{'Snapshot', 'FireFighter', 'SteelHeart', 'Legion'}

In [6]:
books.update(['Calamity','Mistborn','Elnastries'])
print(books)

{'SteelHeart', 'Legion', 'Elnastries', 'FireFighter', 'Calamity', 'Mistborn', 'Snapshot'}

In [7]:
books.discard("Mistborn")  #Discard is better than remove

In [8]:
books.pop()  #Remove a random element

'SteelHeart'

### Set Operation

In [9]:
a={1,2,3,4,5}
b={4,5,6,7,8}
c={1,2,3}
d={5,6,7}

- 'union()'=> |
- 'intersection()'=> &
- 'difference()'=> -
- 'symmetric_difference()'=> ^

In [11]:
print("Union")
print(a.union(b))
print(a | b)

print("Intersection")
print(a.intersection(b))
print(a & b)

print("Difference")
print(a.difference(b))
print(a - b)

print("Symmetric Difference")
print(a.symmetric_difference(b))
print(a ^ b)

Union
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
Intersection
{4, 5}
{4, 5}
Difference
{1, 2, 3}
{1, 2, 3}
Symmetric Difference
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [13]:
print("Joined:",a.isdisjoint(c))
print("disJoined:",a.isdisjoint({11,12}))

Joined: False
disJoined: True

In [14]:
print("subset:",c.issubset(a))
print("superset:",d.issuperset(c))
print("superset:",b.issuperset(d))

subset: True
superset: False
superset: True

In [16]:
#wap that allows user to enter data and then remove the duplicates and print the unique set
n=int(input("Enter the number of data to be entered"))
s=set()
for i in range(n):
  a=int(input("Enter a number"))
  s.add(a)
print(s)

Enter the number of data to be entered5
Enter a number10
Enter a number20
Enter a number30
Enter a number10
Enter a number20
{10, 20, 30}

In [17]:
# Wap that allows user to enter data as much as they want (infinity) and then remove the duplicate and print the unique set
s=set()
while True:
  num=input("enter a number")
  if num:
    s.add(int(num))
  else:
    break
print(s)

enter a number10
enter a number20
enter a number30
enter a number10
enter a number20
enter a number30
enter a number
{10, 20, 30}