pip install sqlalchemy

### Step1 - setup up the database and its table

In [ ]:
from sqlalchemy import create_engine

In [2]:
from sqlalchemy.orm import sessionmaker,declarative_base

In [3]:
from sqlalchemy import Column,Integer,String,Boolean

In [4]:
Base=declarative_base() #create a base class for table models

In [5]:
class Report(Base):
    __tablename__='reports'
    id = Column(Integer, primary_key=True)
    name=Column(String(25))
    eng=Column(Integer)
    math=Column(Integer)
    sci=Column(Integer)
    hin=Column(Integer)
    is_passed=Column(Boolean)

In [8]:
#Create a database engine
#syntax
#create_engine('driver:///databaseconnection)
engine=create_engine('sqlite:///school.db')
Base.metadata.create_all(engine)

### Step2 - Creating a connection to the database

In [10]:
def opendb():
    engine=create_engine('sqlite:///school.db')
    Session=sessionmaker(bind=engine)
    session=Session()
    return session

### Step3 - Storing data

In [15]:
name=input("Enter name: ")
eng=int(input("Enter English marks: "))
math=int(input("Enter maths marks: "))
sci=int(input("Enter Science marks: "))
hin=int(input("Enter Hindi marks: "))
total=eng+math+sci+hin
perc=total/400*100
is_passed=perc>=40

db=opendb()
report=Report(name=name,eng=eng,math=math,sci=sci,hin=hin,is_passed=is_passed)
db.add(report)
db.commit()
db.close()
print("Successfuly Stored")

Successfuly Stored

### Step4 - Retreving Data

In [30]:
db=opendb()
reports=db.query(Report).all()
db.close()

for item in reports:
    print(item.id,item.name)
    print(f"English = {item.eng}")
    print(f"Maths = {item.math}")
    print(f"Science = {item.sci}")
    print(f"Hindi = {item.hin} ")
    print("Passed \n" if item.is_passed else "Failed")

1 Naman
English = 50
Maths = 87
Science = 72
Hindi = 84
Passed

3 Ayush Shrivastav
English = 60
Maths = 50
Science = 55
Hindi = 42
Passed

4 Hasan
English = 70
Maths = 80
Science = 90
Hindi = 70
Passed

### Step5 - Removing data

In [29]:
id=2
db=opendb()
report=db.query(Report).filter(Report.id==id).delete()
db.commit()
db.close()
print("Report is Deleted")

Report is Deleted

### Step6- Searching Data

In [36]:
eng_marks=60
db=opendb()
reports=db.query(Report).filter(Report.eng >= eng_marks).all()
db.close()
for item in reports:
    print(f"{item.id} ,{item.name},{item.is_passed}")

3 ,Ayush Shrivastav,True
4 ,Hasan,True

In [37]:
hin_marks=75
db=opendb()
reports=db.query(Report).filter(Report.hin >= hin_marks).all()
db.close()
for item in reports:
    print(f"{item.id} ,{item.name},{item.is_passed}")

1 ,Naman,True

In [38]:
id=3
db=opendb()
report=db.query(Report).filter(Report.id == id).first()
db.close()
if report:
    print(report.name,report.is_passed)
else:
    print("ID not found")

Ayush Shrivastav True

In [44]:
name="a"
db=opendb()
report=db.query(Report).filter(Report.name.like(f"%{name}%")).all()
db.close()
for item in report:
    print(item.id,item.name)

1 Naman
3 Ayush Shrivastav
4 Hasan

### Step7 - Upating Data

In [46]:
id=4
db=opendb()
report=db.query(Report).filter(Report.id==id).first()
if report:
    report.eng=60
    report.math=60
    report.is_passed=True
    db.commit()
    print("Report Updated")
db.close()

Report Updated