### Loops
- step based loop(for loop)
- condition based loop(while loop)

In [1]:
number=[1,2,3,4,5,6]
for i in number:
    print(i)

1
2
3
4
5
6

In [3]:
brands=['sony','apple','lenovo','samsung']
for names in brands:
    print(names)

sony
apple
lenovo
samsung

### Iterable
- list
- string
- tuple
- set
- dict
- range
- generator

In [4]:
word = "journey"
for char in word:
    print(char)

j
o
u
r
n
e
y

In [6]:
for i in {11,22,33,44,55,66}:
    print(i)

11
22
33
44
55
66

""" 'range' function for the 'for loop'

'range(stop)' - 0 to stop-1

'range(start,stop)' - start to stop-1

'range(start,stop,step)' - start to stop-1 with step """

In [8]:
for i in range(10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [10]:
for i in range(5,11):
    print(i,end=" ")

5 6 7 8 9 10

In [11]:
for i in range (5,15,2):
    print(i,end=' ')

5 7 9 11 13

In [13]:
#reverse loop
for i in range(10,0,-1):
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [18]:
for i in range(-5,6):
    print(i,end=' ')

-5 -4 -3 -2 -1 0 1 2 3 4 5

In [19]:
total=0
for i in range(1,101):
    total += i
print(total)

5050

In [20]:
sum(list(range(1,101)))

5050

In [29]:
#find the largest word in the list
words=['ben','satyam','maniratnam','ray','soham']
largest_word=""
for i in words:
    if len(i)>len(largest_word):
        largest_word = i
        print(i)

ben
satyam
maniratnam

### Break statement

In [33]:
for i in range(10):
    if i == 5:
        break
    print(i,end=" ")
print("The End")

0 1 2 3 4 The End

In [34]:
data=[1,2,4,5,7,9,4,6,0,4,9,8,4,6,7,1]
for i in data:
    if i==0:
        print("zero found")
        break      #stop the loop
    print(i)

1
2
4
5
7
9
4
6
zero found

In [49]:
data=[1,2,4,5,7,9,4,6,0,4,9]
for i in data:
    if i==0:
        continue    #skip to next item
    print(i**2)

1
4
16
25
49
81
16
36
16
81

### keyword with loops
- enumerate
- zip

In [37]:
fruit=['apple','banana','mango','orange','kiwi']
for idx,name in enumerate(fruit):
    print(idx,name)

0 apple
1 banana
2 mango
3 orange
4 kiwi

In [42]:
numbers=[23,56,44,87,95]
for idx,number in enumerate(numbers):
    print(idx,number-idx)

0 23
1 55
2 42
3 84
4 91

In [43]:
x=[1,2,3,4,5]
y=[11,22,33,44,55]
for i,j in zip(x,y):
    print(i+j)

12
24
36
48
60

In [48]:
x=[1,2,3,4,5]
y=[11,22,33,44,55]
z=[111,222,333,444,555,666]
w='jelloooo'
for i,j,k,l in zip(x,y,z,w):
    print(i+j+k,l)

123 j
246 e
369 l
492 l
615 o

In [39]:
list1=[1,2,3,4]
list2=[5,6,7,8]
list3=[9,10,11,12]
a=list(zip(list1,list2,list3))
print(a)

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [52]:
#count the number of vowels in a sentence
sentence="This is a very good day"
count=0
for i in sentence:
    if i=="a":
        count +=1
    elif i=="e":
        count +=1
    elif i=="i":
        count +=1
    elif i=="o":
        count +=1
    elif i=="u":
        count +=1
print(count)

7

OR

In [53]:
sentence="This is a very good day"
count=0
for i in sentence:
    if i in 'aeiou':
        count+=1
print(count)

7